<ion-header>
  <ion-navbar>
    <ion-title>ポーカー</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>

      <div *ngIf="startDisable">
        <div *ngFor="let item of hand" class="hand">
          <ion-card class="handtrump">
            <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>{{trump[item].number}}</ion-label>
            </ion-item>
            <ion-card-content>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-row>

    <ion-row>
      <div *ngIf="initCounter>1">
          <div *ngFor="let item of field" class="hand">
        <ion-card class="trump">
          <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>{{trump[item].number}}</ion-label>
          </ion-item>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
        </div>
      </div>

    </ion-row>
  </ion-grid>
  
  <button ion-button (click)="random()">random</button>
  <button ion-button (click)="setCard()">reset</button>
  <button ion-button (click)="getCard()">start</button>
  <button ion-button (click)="set()" *ngIf="initCounter">カード</button>
  <button ion-button (click)="drow()" *ngIf="initCounter>2">カード2</button>
</ion-content>