page-home {

    .handtrump{
        height: 30vh;
        width: 20vh;
        padding: 5px;
        margin-top:300px;
        text-align: center; 
    }
    .trump{
        height: 30vh;
        width: 20vh;
        padding: 5px;
        margin:10px;
        text-align: center; 
    }

  
}
